@font-face {
	font-family: cool_font2;
	src: url('./../fonts/303D52_0_0.woff2');
}

.drawer{
  border-top: 1px solid lightgrey;
  box-shadow: 0 4px 2px -2px gray;
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow-y: hidden; 
  height:0%;
  background: white;
  top: 68px;
  left: 0;
  width: 100%;
  z-index:1;
  transition: height 0.2s ease-out;
  
}

.drawer.open{
  margin: 0;
  height: 400px;
}


.drawer a {
  font-family: 'cool_font2';
  font-size: large;
  text-decoration: none;
}


.upperDrawer{
    
    height: 100px;
    background: rgba(242,242,242,0.94);
    border-bottom: 1px solid lightgrey;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
  }
  
  
  
  .upperDrawer ul {
    padding-left: 80px;
    justify-content: space-between;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    height: 0;
    
    
  }
  
  .upperDrawer li {
    margin-top: 1.5rem;
    width:13rem;
    height: 1.5rem;
    flex-basis: auto;
  }
  
  .upperDrawer a {
    
    margin-left: 0rem;
    color: rgb(120, 120, 120);
    
  }
  
  .upperDrawer img {
    position: relative;
    top:5px;
    padding-right: 20px;
    width: 1.5rem;
    height: 1.5rem;
  }
  
 
  .upperDrawer li:hover img {
    filter: invert(11%) sepia(98%) saturate(5510%) hue-rotate(281deg) brightness(100%) contrast(104%);
  }
  
  .upperDrawer li:hover a {
    color:rgb(153,10,227);
  }
  
  
  


  .lowerDrawer {
    
  }
  
  .lowerDrawer ul {
    padding-left: 80px;
    list-style: none;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    margin-bottom: 0%;
    
  }
  .lowerDrawer li:hover img {
    filter: invert(11%) sepia(98%) saturate(5510%) hue-rotate(281deg) brightness(100%) contrast(104%);
  }
  .lowerDrawer a {
    color:black;
  }
  .lowerDrawer li:hover a {
    color:rgb(153,10,227);
  }
  .lowerDrawer li {

    width:23rem;
    height: 3rem;
    margin-top: 3rem;
  }
  
  .lowerDrawer img {
    position: relative;
    top: 25px;
    padding-right: 1rem;
    width: 64px;
    height: 64px;
  }
  
  .lowerDrawer a {
    position: relative;
    
  }
  
  
  
  @media (max-width: 1154px) {
    .upperDrawer {
      height: 175px;
    }
    .drawer.open{
      height:475px;
    }
  }

  @media (max-width: 768px) {
   .upperDrawer {
     flex-direction: column-reverse;
     margin-top: 25px;
     height: 220px;
     
   }

   .upperDrawer ul {
     padding-top: 5px;
     padding-left: 15px;
     padding-right: 15px;
     flex:1;
     flex-wrap: nowrap;
     flex-direction: column;
     margin-bottom: 0;
      
   }

   .upperDrawer li {
     
     border-top: 1px solid lightgrey;
     margin-top: 0rem;
     width:100%;
     height: 100px;
  }
  .upperDrawer img {
    margin-left: 5px;
    margin-top: 5px;
  }
  .upperDrawer {
    border-bottom: none;
  }
  .drawer.open {
    height: 630px;
   } 
  .lowerDrawer ul {
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: column;
  }
  
  .lowerDrawer li {
    border-top: 1px solid lightgrey;
    margin-top: 0;
    height: 3rem;
    width: 100%;
  }
  .lowerDrawer  {
    background: rgb(249, 249, 249)

  }
  .lowerDrawer img {
    position: relative;
    padding-top: 0px;
    top: 10px;
    width: 32px;
    height: 32px;
  }
   }
  
  